Plugins>NanoJ-Core>OpenCL, "OpenCL Preferences", nanoj.core.java.gui.OpenCLPreferences_
Plugins>NanoJ-Core>OpenCL, "-"
Plugins>NanoJ-Core>OpenCL, "Show OpenCL info", nanoj.core.java.gui.DisplayOpenCLProperties_
Plugins>NanoJ-Core>OpenCL, "Test OpenCL with Mandelbrot", nanoj.core.java.gui.Mandelbrot_

Plugins>NanoJ-Core>Analysis, "Estimate resolution (FRC)", nanoj.core.java.gui.analysis.CalculateFRC_

Plugins>NanoJ-Core>Benchmark, "Convolution Speed", nanoj.core.java.gui.benchmark.ConvolutionSpeed_

Plugins>NanoJ-Core>Registration, "Realign Channels - Estimate", nanoj.core.java.gui.registration.ChannelRealignment_Estimate_
Plugins>NanoJ-Core>Registration, "Realign Channels - Apply", nanoj.core.java.gui.registration.ChannelRealignment_Apply_
Plugins>Registration, "(NanoJ) Realign Channels - Estimate", nanoj.core.java.gui.registration.ChannelRealignment_Estimate_
Plugins>Registration, "(NanoJ) Realign Channels - Apply", nanoj.core.java.gui.registration.ChannelRealignment_Apply_

Plugins>NanoJ-Core>Transform, "Cross-Correlation Map", nanoj.core.java.gui.tools.transform.CrossCorrelationMap_
Plugins>NanoJ-Core>Transform, "Polar Map", nanoj.core.java.gui.tools.transform.PolarTransform_
Plugins>NanoJ-Core>Transform, "-"
Plugins>NanoJ-Core>Transform, "FHT", nanoj.core.java.gui.tools.transform.FHT_
Plugins>NanoJ-Core>Transform, "-"
Plugins>NanoJ-Core>Transform, "Filament Analysis", nanoj.core.java.gui.tools.transform.FilamentAnalysis_
Plugins>Segmentation, "(NanoJ) Filament Analysis", nanoj.core.java.gui.tools.transform.FilamentAnalysis_

Plugins>NanoJ-Core>Peak Localisation, "Nearest-Neighbours Analysis", nanoj.analytical.java.gui.localisation.NearestNeighboursAnalysis_
Plugins>NanoJ-Core>Peak Localisation, "Dual Channel Nearest-Neighbours Analysis", nanoj.analytical.java.gui.localisation.DualChannelNearestNeighboursAnalysis_

Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Open NanoJ Image (NJI)...", nanoj.core.java.gui.tools.io.OpenNanoJStack_
Plugins>NanoJ-Core, "Save Image as NJI...", nanoj.core.java.gui.tools.io.SaveStackAsNJI_
Plugins>NanoJ-Core, "Open NanoJ Table (NJT)...", nanoj.core.java.gui.tools.io.OpenNanoJTable_
Plugins>NanoJ-Core, "Save Results-Table as NJT...", nanoj.core.java.gui.tools.io.SaveResultsTableAsNJT_
Plugins>NanoJ-Core, "Set Compression (NJI & NJT)...", nanoj.core.java.gui.tools.io.SetCompression_
Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Extract ROIs and save as NJIs...", nanoj.core.java.gui.featureExtraction.ExtractROIs_
Plugins>NanoJ-Core, "Convert image sequence files into NJIs...", nanoj.core.java.gui.tools.io.ConvertImageSequencesIntoNJI_
Plugins>NanoJ-Core, "Convert Results-Table files (.xls) into NJTs...", nanoj.core.java.gui.tools.io.ConvertResultTableFilesIntoNJT_
Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Open image files in folder as image sequence...", nanoj.core.java.gui.tools.io.OpenImageFormatAsImageSequence_
Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Stop NanoJ execution...", nanoj.core.java.gui.AbortNanoJExecution_
Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Reset Preferences...", nanoj.core.java.gui.ResetPreferences_
Plugins>NanoJ-Core, "Debug Preferences...", nanoj.core.java.gui.Debug_
Plugins>NanoJ-Core, "-"
Plugins>NanoJ-Core, "Show MTA", nanoj.core.java.gui.MTA_
Plugins>NanoJ-Core, "NanoJ-Core Version", nanoj.core.java.gui.Version_
Plugins>NanoJ-Core, "NanoJ-Core What's New", nanoj.core.java.gui.WhatsNew_

File>Import, "NanoJ image file (NJI)...", nanoj.core.java.gui.tools.io.OpenNanoJStack_
File>Import, "NanoJ table file (NJT)...", nanoj.core.java.gui.tools.io.OpenNanoJTable_
File>Save As, "NanoJ image (NJI)...", nanoj.core.java.gui.tools.io.SaveStackAsNJI_
File>Save As, "NanoJ Table (NJT)...", nanoj.core.java.gui.tools.io.SaveResultsTableAsNJT_





